<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_bank_sampah_sri_willis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bank_sampah_sri_willis_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankSampahSriWilisNasabah"
        tools:targetApi="31">
        <activity
            android:name=".ui.addorder.AddCartOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addorder.AddOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.pickupwaste.PickUpWasteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.transactionwaste.TransactionWasteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.BankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.CashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.ElectricActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.CreateTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.profile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authorization.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authorization.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
    </application>

</manifest>